<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Anton|Jura&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg customNav">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span><i class="fa fa-bars" aria-hidden="true" id="burger"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#contact">About<span class="sr-only"></span></a>
        </ul>
      </div>
    </nav>
    <div style="background:#854fee">
      <h1>About Me</h1>
      <br>
      <h2>My Name Is Aaryan Vats<br>I Live in Gurgaon.<br>I am learning web development and I have learn new languages.<br>I have studied from CCA School,Gurgaon and I am currently pursuing my degree from SMIT.I play multiple Sport and I have been the host in multiple events.<hr>I am learning Web development through this portfolio.<h1>
        I am a
          <span id="element"></span>
      </h1>
        </div>

    <nav class="navbar navbar-expand-lg customNav">
      <a class="navbar-brand" href="#"><img src="https://images.pexels.com/photos/572897/pexels-photo-572897.jpeg?auto=compress&h=30&w=600"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span><i class="fa fa-bars" aria-hidden="true" id="burger"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="">About Me <span class="sr-only"></span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="programs">Skills</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#projects" 
            id="navbarDropdown" role="button" data-toggle="dropdown" 
            aria-haspopup="true" aria-expanded="false">Projects</a>
                              <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="https://Google.com">Instagram</a></li>
                  <li><a class="dropdown-item" href="https://Youtube.com">Youtube</a></li>
                </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#contact">Contact Me</a>
          </li>
        </ul>
      </div>
    </nav>

     
    <div class="jumbotron">
      <div class="portrait" style="text-align:center">
          <span style="font-size:60px" id="webdevelopment"></span>
        <div class="jumbotext" style="text-align:center">
        <img src="https://s3.eu-west-1.amazonaws.com/redsys-prod/articles/eac8c6d69d1ce8ce0ff8824d/images/teaserImage_xxxx_croppedTeaserImage.jpg">
        <h1>I am learning development.</h1>
        <p>My<a href="programs">Hobbies</a>Link.
          </div>
      </div>
      </div>
     <h2 class="sectionHeading3">Contact Me</h2>
  <section class="contact" id="contact">
    <div class="container">
      <div class="row">
        <div class="col-md-4 mb-3 mb-md-0">
          <div class="card py-4 h-100">
            <div class="card-body1 text-center">
              <i class="fa fa-map-marker" aria-hidden="true" id="icon"></i>
              <h4 class="text-uppercase m-0">Address</h4>
              <hr class="my-4" />
              <div class="small"></div>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-3 mb-md-0">
          <div class="card py-4 h-100">
            <div class="card-body1 text-center">
              <i class="" aria-hidden="true" id="icon"></i>
              <h4 class="text-uppercase m-0">Email</h4>
              <hr class="my-4" />
              <div class="small"></div>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-3 mb-md-0">
          <div class="card py-4 h-100">
            <div class="card-body1 text-center">
              <i class="fa fa-phone" aria-hidden="true" id="icon"></i>
              <h4 class="text-uppercase m-0">Phone</h4>
              <hr class="my-4" />
              <div class="small"></div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>
    <script>
      var typed = new Typed('#element', {
        strings: ['Web developer','Player','Leader'],
        typeSpeed: 50,
      });
    </script>
    <script>
      var typed = new Typed('#webdevelopment', {
        strings: ['Website Using HTML'],
        typeSpeed: 50,
      });
    </script>
  </body>

</html>